PORT = 3000
MONGO_URL = "mongodb+srv://<username>:<password>@<cluster-url>.mongodb.net/<database-name>?retryWrites=true&w=majority"
CLIENT_URL = "http://localhost:5173"
JWT_SECRET_KEY  = "JWTSecretKeyGoesHere"
